@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@source "../";

:root {
  /* Colors */
  --color-main: #597ef7;
  --color-main-bg: #2f54eb;
  --color-main-text: #f9fafb;
  --color-bg1: #ffffff;
  --color-bg2: #fafafa;
  --color-bg3: #f5f5f5;
  --color-bg4: #e5e7eb;
  --color-fg1: #1f2937;
  --color-fg2: #374151;
  --color-fg3: #4b5563;
  --color-fg4: #6b7280;
  --color-default-yellow: #ca8a04;
  --color-default-red: #b91c1c;
  --color-default-green: #16a34a;
  --color-default-gray: #9ca3af;
  --color-default-blue: #2196f3;
  --color-default-white: #f9fafb;
  --color-default-black: #1f2937;
  --color-opacity-black: #0006;
  --color-default-border: #d1d5db;

  /* Daisy theme */
  --size-field: 0.23rem;
  --color-base-100: var(--color-bg1);
  --color-base-200: var(--color-bg3);
  --color-base-300: var(--color-bg4);
  --color-base-content: var(--color-fg1);
  --color-primary: var(--color-main);
  --color-primary-content: var(--color-main-text);
  --color-secondary: var(--color-default-blue);
  --color-secondary-content: var(--color-default-white);
  --color-accent: var(--color-fg1);
  --color-accent-content: var(--color-bg1);
  --color-neutral: var(--color-bg1);
  --color-neutral-content: var(--color-fg1);
  --color-info: var(--color-default-blue);
  --color-info-content: var(--color-default-white);
  --color-success: var(--color-default-green);
  --color-success-content: var(--color-default-white);
  --color-warning: var(--color-default-yellow);
  --color-warning-content: var(--color-default-white);
  --color-error: var(--color-default-red);
  --color-error-content: var(--color-default-white);

  /* Font Families */
  --font-sans: Rubik, sans-serif;
  --font-serif: Merriweather, serif;

  /* Border Radius */
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 20px;

  /* Font Sizes */
  --text-xs: 14px;
  --text-sm: 15px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 28px;
  --text-4xl: 32px;

  /* Box Shadows */
  --shadow-sm: 1px 1px 3px 0 #0002;
  --shadow-md: 1px 1px 4px 0 #0003;
  --shadow-lg: 1px 1px 5px 0 #0004;
  --shadow-xl: 1px 1px 6px 0 #0005;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-main: #597ef7;
    --color-main-bg: #2553eb;
    --color-main-text: #ffffff;
    --color-bg1: #000000;
    --color-bg2: #374151;
    --color-bg3: #4b5563;
    --color-bg4: #595959;
    --color-fg1: #f9fafb;
    --color-fg2: #f3f4f6;
    --color-fg3: #e5e7eb;
    --color-fg4: #d1d5db;
    --color-default-yellow: #fffb8f;
    --color-default-red: #ffa39e;
    --color-default-green: #95de64;
    --color-default-gray: #9ca3af;
    --color-default-blue: #69b1ff;
    --color-default-white: #f9fafb;
    --color-default-black: #1f2937;
    --color-opacity-black: #0006;
    --color-default-border: #595959;
  }
}

body {
  background-color: var(--color-bg4);
  color: var(--color-fg4);
}

.text-main {
  color: var(--color-main);
}
.text-fg1 {
  color: var(--color-fg1);
}
.text-fg2 {
  color: var(--color-fg2);
}
.text-fg3 {
  color: var(--color-fg3);
}
.text-fg4 {
  color: var(--color-fg4);
}
.text-yellow {
  color: var(--color-default-yellow);
}
.text-red {
  color: var(--color-default-red);
}
.text-green {
  color: var(--color-default-green);
}
.text-gray {
  color: var(--color-default-gray);
}
.text-blue {
  color: var(--color-default-blue);
}
.text-white {
  color: var(--color-default-white);
}
.text-black {
  color: var(--color-default-black);
}

.bg-main {
  background-color: var(--color-main-bg);
}
.bg-bg1 {
  background-color: var(--color-bg1);
}
.bg-bg2 {
  background-color: var(--color-bg2);
}
.bg-bg3 {
  background-color: var(--color-bg3);
}
.bg-bg4 {
  background-color: var(--color-bg4);
}
.bg-yellow {
  background-color: var(--color-default-yellow);
}
.bg-red {
  background-color: var(--color-default-red);
}
.bg-green {
  background-color: var(--color-default-green);
}
.bg-gray {
  background-color: var(--color-default-gray);
}
.bg-blue {
  background-color: var(--color-default-blue);
}
.bg-white {
  background-color: var(--color-default-white);
}
.bg-black {
  background-color: var(--color-default-black);
}

.border {
  border-color: var(--color-default-border);
}

.border-b {
  border-bottom-color: var(--color-default-border);
}

.border-2 {
  border-color: var(--color-default-border);
}

.shadow-sm {
  box-shadow: var(--shadow-sm);
}
.shadow-md {
  box-shadow: var(--shadow-md);
}
.shadow-lg {
  box-shadow: var(--shadow-lg);
}
.shadow-xl {
  box-shadow: var(--shadow-xl);
}

/* Animations */
.transition {
  transition: all 0.5s ease-in;
}

.fade-down {
  animation: fade-down 0.5s ease-out forwards;
}

.slide-left {
  animation: slide-left 0.5s ease-out forwards;
}

.slide-up {
  animation: slide-up 0.5s ease-out forwards;
}

.slide-up-delay-500 {
  opacity: 0;
  animation: slide-up 0.5s ease-out 0.5s forwards;
}

.slide-up-delay-1000 {
  opacity: 0;
  animation: slide-up 0.5s ease-out 1s forwards;
}

@keyframes fade-down {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
