@import "tailwindcss";
@import "./theme.css";

@source "../";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-sans);
}
